body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:541px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:665px;
}
#u171 {
  position:absolute;
  left:20px;
  top:70px;
  width:323px;
  height:665px;
}
#u172 {
  position:absolute;
  left:2px;
  top:324px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:255px;
  top:192px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u173_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:108px;
  height:8px;
}
#u173_seg1 {
  position:absolute;
  left:100px;
  top:-4px;
  width:8px;
  height:144px;
}
#u173_seg2 {
  position:absolute;
  left:100px;
  top:132px;
  width:30px;
  height:8px;
}
#u174 {
  position:absolute;
  left:54px;
  top:21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:117px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u175 {
  position:absolute;
  left:385px;
  top:269px;
  width:149px;
  height:117px;
}
#u176 {
  position:absolute;
  left:10px;
  top:10px;
  width:129px;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:206px;
  top:627px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u177_seg0 {
  position:absolute;
  left:-4px;
  top:-16px;
  width:8px;
  height:16px;
}
#u177_seg1 {
  position:absolute;
  left:-4px;
  top:-16px;
  width:265px;
  height:8px;
}
#u177_seg2 {
  position:absolute;
  left:253px;
  top:-23px;
  width:8px;
  height:15px;
}
#u178 {
  position:absolute;
  left:78px;
  top:-20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:169px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u179 {
  position:absolute;
  left:385px;
  top:435px;
  width:156px;
  height:169px;
}
#u180 {
  position:absolute;
  left:10px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:234px;
  top:178px;
  width:50px;
  height:28px;
  overflow:hidden;
}
#u181_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u181_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u182 {
  position:absolute;
  left:56px;
  top:178px;
  width:37px;
  height:28px;
  overflow:hidden;
}
#u182_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:28px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u182_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u183 {
  position:absolute;
  left:234px;
  top:623px;
  width:50px;
  height:32px;
  overflow:hidden;
}
#u183_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u183_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
