body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:343px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:661px;
}
#u197 {
  position:absolute;
  left:20px;
  top:23px;
  width:323px;
  height:661px;
}
#u198 {
  position:absolute;
  left:2px;
  top:322px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:193px;
  top:373px;
  width:95px;
  height:33px;
  overflow:hidden;
}
#u199_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:33px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u199_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u200 {
  position:absolute;
  left:41px;
  top:128px;
  width:52px;
  height:31px;
  overflow:hidden;
}
#u200_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:31px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u200_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
