body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1026px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1292px;
}
#u170 {
  position:absolute;
  left:-27px;
  top:-24px;
  width:1080px;
  height:1292px;
}
#u171 {
  position:absolute;
  left:2px;
  top:638px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
