body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:578px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:667px;
}
#u176 {
  position:absolute;
  left:20px;
  top:23px;
  width:333px;
  height:667px;
}
#u177 {
  position:absolute;
  left:2px;
  top:326px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:94px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u178 {
  position:absolute;
  left:418px;
  top:464px;
  width:140px;
  height:94px;
}
#u179 {
  position:absolute;
  left:10px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:293px;
  top:511px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u180_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:129px;
  height:8px;
}
#u181 {
  position:absolute;
  left:12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:74px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u182 {
  position:absolute;
  left:418px;
  top:363px;
  width:140px;
  height:74px;
}
#u183 {
  position:absolute;
  left:10px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:236px;
  top:269px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u184_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:10px;
}
#u184_seg1 {
  position:absolute;
  left:-4px;
  top:2px;
  width:186px;
  height:8px;
}
#u185 {
  position:absolute;
  left:38px;
  top:-2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:138px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u186 {
  position:absolute;
  left:418px;
  top:206px;
  width:149px;
  height:138px;
}
#u187 {
  position:absolute;
  left:10px;
  top:10px;
  width:129px;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:210px;
  top:195px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u188_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:31px;
  height:8px;
}
#u188_seg1 {
  position:absolute;
  left:23px;
  top:-4px;
  width:8px;
  height:88px;
}
#u188_seg2 {
  position:absolute;
  left:23px;
  top:76px;
  width:185px;
  height:8px;
}
#u189 {
  position:absolute;
  left:14px;
  top:72px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:137px;
  top:375px;
  width:91px;
  height:45px;
  overflow:hidden;
}
#u190_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:45px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u190_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u191 {
  position:absolute;
  left:418px;
  top:400px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u191_seg0 {
  position:absolute;
  left:-136px;
  top:-4px;
  width:136px;
  height:8px;
}
#u191_seg1 {
  position:absolute;
  left:-136px;
  top:-1px;
  width:8px;
  height:5px;
}
#u192 {
  position:absolute;
  left:-116px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:63px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u193 {
  position:absolute;
  left:418px;
  top:46px;
  width:160px;
  height:63px;
}
#u194 {
  position:absolute;
  left:10px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:418px;
  top:78px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u195_seg0 {
  position:absolute;
  left:-14px;
  top:-4px;
  width:14px;
  height:8px;
}
#u195_seg1 {
  position:absolute;
  left:-14px;
  top:-4px;
  width:8px;
  height:75px;
}
#u195_seg2 {
  position:absolute;
  left:-110px;
  top:63px;
  width:104px;
  height:8px;
}
#u195_seg3 {
  position:absolute;
  left:-110px;
  top:63px;
  width:8px;
  height:5px;
}
#u196 {
  position:absolute;
  left:-70px;
  top:59px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
