body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:578px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:667px;
}
#u253 {
  position:absolute;
  left:20px;
  top:23px;
  width:333px;
  height:667px;
}
#u254 {
  position:absolute;
  left:2px;
  top:326px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:94px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u255 {
  position:absolute;
  left:418px;
  top:464px;
  width:140px;
  height:94px;
}
#u256 {
  position:absolute;
  left:10px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u257 {
  position:absolute;
  left:293px;
  top:511px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u257_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:129px;
  height:8px;
}
#u258 {
  position:absolute;
  left:12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:83px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u259 {
  position:absolute;
  left:418px;
  top:363px;
  width:140px;
  height:83px;
}
#u260 {
  position:absolute;
  left:10px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u261 {
  position:absolute;
  left:197px;
  top:149px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u261_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:130px;
}
#u261_seg1 {
  position:absolute;
  left:-4px;
  top:122px;
  width:225px;
  height:8px;
}
#u262 {
  position:absolute;
  left:-2px;
  top:118px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:138px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u263 {
  position:absolute;
  left:418px;
  top:206px;
  width:149px;
  height:138px;
}
#u264 {
  position:absolute;
  left:10px;
  top:10px;
  width:129px;
  word-wrap:break-word;
}
#u265 {
  position:absolute;
  left:197px;
  top:196px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u265_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:83px;
}
#u265_seg1 {
  position:absolute;
  left:-4px;
  top:75px;
  width:225px;
  height:8px;
}
#u266 {
  position:absolute;
  left:21px;
  top:71px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u267 {
  position:absolute;
  left:137px;
  top:375px;
  width:91px;
  height:45px;
  overflow:hidden;
}
#u267_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:45px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u267_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u268 {
  position:absolute;
  left:418px;
  top:405px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u268_seg0 {
  position:absolute;
  left:-191px;
  top:-4px;
  width:195px;
  height:8px;
}
#u269 {
  position:absolute;
  left:-146px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:63px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u270 {
  position:absolute;
  left:418px;
  top:46px;
  width:160px;
  height:63px;
}
#u271 {
  position:absolute;
  left:10px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u272 {
  position:absolute;
  left:418px;
  top:78px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u272_seg0 {
  position:absolute;
  left:-14px;
  top:-4px;
  width:14px;
  height:8px;
}
#u272_seg1 {
  position:absolute;
  left:-14px;
  top:-4px;
  width:8px;
  height:75px;
}
#u272_seg2 {
  position:absolute;
  left:-110px;
  top:63px;
  width:104px;
  height:8px;
}
#u272_seg3 {
  position:absolute;
  left:-110px;
  top:63px;
  width:8px;
  height:5px;
}
#u273 {
  position:absolute;
  left:-70px;
  top:59px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
