body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:539px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:668px;
}
#u355 {
  position:absolute;
  left:20px;
  top:23px;
  width:327px;
  height:668px;
}
#u356 {
  position:absolute;
  left:2px;
  top:326px;
  width:323px;
  visibility:hidden;
  word-wrap:break-word;
}
#u357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:83px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u357 {
  position:absolute;
  left:399px;
  top:358px;
  width:140px;
  height:83px;
}
#u358 {
  position:absolute;
  left:10px;
  top:10px;
  width:120px;
  word-wrap:break-word;
}
#u359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:78px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u359 {
  position:absolute;
  left:399px;
  top:180px;
  width:135px;
  height:78px;
}
#u360 {
  position:absolute;
  left:10px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u361 {
  position:absolute;
  left:94px;
  top:412px;
  width:184px;
  height:45px;
  overflow:hidden;
}
#u361_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:45px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u361_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u362 {
  position:absolute;
  left:399px;
  top:400px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u362_seg0 {
  position:absolute;
  left:-176px;
  top:-4px;
  width:176px;
  height:8px;
}
#u362_seg1 {
  position:absolute;
  left:-176px;
  top:-4px;
  width:8px;
  height:9px;
}
#u363 {
  position:absolute;
  left:-138px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u364 {
  position:absolute;
  left:399px;
  top:219px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u364_seg0 {
  position:absolute;
  left:-185px;
  top:-4px;
  width:185px;
  height:8px;
}
#u364_seg1 {
  position:absolute;
  left:-185px;
  top:-1px;
  width:8px;
  height:5px;
}
#u365 {
  position:absolute;
  left:-141px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:77px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u366 {
  position:absolute;
  left:399px;
  top:268px;
  width:135px;
  height:77px;
}
#u367 {
  position:absolute;
  left:10px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:670px;
}
#u368 {
  position:absolute;
  left:20px;
  top:745px;
  width:323px;
  height:670px;
}
#u369 {
  position:absolute;
  left:2px;
  top:327px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
