body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:348px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:669px;
}
#u78 {
  position:absolute;
  left:20px;
  top:70px;
  width:328px;
  height:669px;
}
#u79 {
  position:absolute;
  left:2px;
  top:326px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:264px;
  top:174px;
  width:65px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u81 {
  position:absolute;
  left:43px;
  top:174px;
  width:65px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
