body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:622px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:674px;
}
#u313 {
  position:absolute;
  left:20px;
  top:23px;
  width:327px;
  height:674px;
}
#u314 {
  position:absolute;
  left:2px;
  top:329px;
  width:323px;
  visibility:hidden;
  word-wrap:break-word;
}
#u315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:58px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u315 {
  position:absolute;
  left:399px;
  top:173px;
  width:151px;
  height:58px;
}
#u316 {
  position:absolute;
  left:10px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:76px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u317 {
  position:absolute;
  left:399px;
  top:392px;
  width:167px;
  height:76px;
}
#u318 {
  position:absolute;
  left:10px;
  top:10px;
  width:147px;
  word-wrap:break-word;
}
#u319 {
  position:absolute;
  left:307px;
  top:452px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u319_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:77px;
  height:8px;
}
#u319_seg1 {
  position:absolute;
  left:69px;
  top:-26px;
  width:8px;
  height:30px;
}
#u319_seg2 {
  position:absolute;
  left:69px;
  top:-26px;
  width:23px;
  height:8px;
}
#u320 {
  position:absolute;
  left:7px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:68px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u321 {
  position:absolute;
  left:399px;
  top:265px;
  width:168px;
  height:68px;
}
#u322 {
  position:absolute;
  left:10px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
#u323 {
  position:absolute;
  left:130px;
  top:595px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u323_seg0 {
  position:absolute;
  left:-4px;
  top:-28px;
  width:8px;
  height:28px;
}
#u323_seg1 {
  position:absolute;
  left:-4px;
  top:-28px;
  width:317px;
  height:8px;
}
#u324 {
  position:absolute;
  left:94px;
  top:-32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:61px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u325 {
  position:absolute;
  left:443px;
  top:540px;
  width:179px;
  height:61px;
}
#u326 {
  position:absolute;
  left:10px;
  top:10px;
  width:159px;
  word-wrap:break-word;
}
#u327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u327 {
  position:absolute;
  left:399px;
  top:46px;
  width:144px;
  height:30px;
}
#u328 {
  position:absolute;
  left:10px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u329 {
  position:absolute;
  left:399px;
  top:61px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u329_seg0 {
  position:absolute;
  left:-316px;
  top:-4px;
  width:316px;
  height:8px;
}
#u329_seg1 {
  position:absolute;
  left:-316px;
  top:-4px;
  width:8px;
  height:131px;
}
#u330 {
  position:absolute;
  left:-270px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:53px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u331 {
  position:absolute;
  left:399px;
  top:88px;
  width:144px;
  height:53px;
}
#u332 {
  position:absolute;
  left:10px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u333 {
  position:absolute;
  left:399px;
  top:115px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u333_seg0 {
  position:absolute;
  left:-116px;
  top:-4px;
  width:116px;
  height:8px;
}
#u333_seg1 {
  position:absolute;
  left:-116px;
  top:-4px;
  width:8px;
  height:67px;
}
#u334 {
  position:absolute;
  left:-138px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u335 {
  position:absolute;
  left:399px;
  top:299px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u335_seg0 {
  position:absolute;
  left:-163px;
  top:-4px;
  width:163px;
  height:8px;
}
#u335_seg1 {
  position:absolute;
  left:-163px;
  top:-24px;
  width:8px;
  height:28px;
}
#u336 {
  position:absolute;
  left:-142px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u337 {
  position:absolute;
  left:399px;
  top:202px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u337_seg0 {
  position:absolute;
  left:-97px;
  top:-4px;
  width:97px;
  height:8px;
}
#u337_seg1 {
  position:absolute;
  left:-97px;
  top:-4px;
  width:8px;
  height:16px;
}
#u338 {
  position:absolute;
  left:-102px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
