body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:955px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:669px;
}
#u378 {
  position:absolute;
  left:20px;
  top:23px;
  width:322px;
  height:669px;
}
#u379 {
  position:absolute;
  left:2px;
  top:326px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:662px;
}
#u380 {
  position:absolute;
  left:632px;
  top:23px;
  width:323px;
  height:662px;
}
#u381 {
  position:absolute;
  left:2px;
  top:323px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
