body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:955px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:669px;
}
#u374 {
  position:absolute;
  left:20px;
  top:23px;
  width:322px;
  height:669px;
}
#u375 {
  position:absolute;
  left:2px;
  top:326px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:662px;
}
#u376 {
  position:absolute;
  left:632px;
  top:23px;
  width:323px;
  height:662px;
}
#u377 {
  position:absolute;
  left:2px;
  top:323px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
