body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:556px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:669px;
}
#u140 {
  position:absolute;
  left:20px;
  top:23px;
  width:326px;
  height:669px;
}
#u141 {
  position:absolute;
  left:2px;
  top:326px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:142px;
  top:509px;
  width:91px;
  height:79px;
  overflow:hidden;
}
#u142_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:79px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u142_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:129px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u143 {
  position:absolute;
  left:407px;
  top:153px;
  width:138px;
  height:129px;
}
#u144 {
  position:absolute;
  left:10px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:407px;
  top:218px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u145_seg0 {
  position:absolute;
  left:-182px;
  top:-4px;
  width:182px;
  height:8px;
}
#u145_seg1 {
  position:absolute;
  left:-182px;
  top:-2px;
  width:8px;
  height:6px;
}
#u146 {
  position:absolute;
  left:-140px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:69px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u147 {
  position:absolute;
  left:395px;
  top:532px;
  width:161px;
  height:69px;
}
#u148 {
  position:absolute;
  left:10px;
  top:10px;
  width:141px;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:395px;
  top:567px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u149_seg0 {
  position:absolute;
  left:-201px;
  top:-4px;
  width:201px;
  height:8px;
}
#u149_seg1 {
  position:absolute;
  left:-201px;
  top:-4px;
  width:8px;
  height:6px;
}
#u150 {
  position:absolute;
  left:-150px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
