body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:537px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:670px;
}
#u185 {
  position:absolute;
  left:20px;
  top:23px;
  width:323px;
  height:670px;
}
#u186 {
  position:absolute;
  left:2px;
  top:327px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:129px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u187 {
  position:absolute;
  left:399px;
  top:149px;
  width:138px;
  height:129px;
}
#u188 {
  position:absolute;
  left:10px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:399px;
  top:214px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u189_seg0 {
  position:absolute;
  left:-161px;
  top:-4px;
  width:161px;
  height:8px;
}
#u189_seg1 {
  position:absolute;
  left:-161px;
  top:-4px;
  width:8px;
  height:6px;
}
#u190 {
  position:absolute;
  left:-130px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191 {
  position:absolute;
  left:137px;
  top:458px;
  width:94px;
  height:44px;
  overflow:hidden;
}
#u191_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:44px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u191_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
