body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:564px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:670px;
}
#u216 {
  position:absolute;
  left:20px;
  top:23px;
  width:327px;
  height:670px;
}
#u217 {
  position:absolute;
  left:2px;
  top:327px;
  width:323px;
  visibility:hidden;
  word-wrap:break-word;
}
#u218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:117px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u218 {
  position:absolute;
  left:415px;
  top:162px;
  width:149px;
  height:117px;
}
#u219 {
  position:absolute;
  left:10px;
  top:10px;
  width:129px;
  word-wrap:break-word;
}
#u220 {
  position:absolute;
  left:272px;
  top:221px;
  width:0px;
  height:0px;
  font-size:18px;
}
#u220_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:147px;
  height:8px;
}
#u221 {
  position:absolute;
  left:22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
